<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EYES-thetic 24:7</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white flex flex-col items-center justify-center min-h-screen text-center px-6 mt-20">
    <!-- Top bar -->
    <nav class="flow-root w-full justify-center items-center py-4 px-8 shadow-md bg-white fixed top-0 left-0">
        <!-- Website name -->
        <div class="flex space-x-6 items-center justify-between mx-auto">
            <a href="/" class="font-bold">EYES-thetic 24/7</a>
            <a href="signup.html" class="text-black hover:text-yellow-600 font-semibold transition">Sign-up</a>
        </div>
    </nav>
    <!-- Top bar end -->

    <!-- Login form -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="loginForm" class="space-y-6" method="post">
            <!-- Username -->
            <div>
                <label for="username" class="block text-sm/6 text-left font-semibold">Username</label>
                <div class="mt-2">
                    <input type="text" name="username" id="username" placeholder="Enter username" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">
                </div>
            </div>
            <!-- Password -->
            <div>
                <label for="password" class="block text-sm/6 text-left font-semibold">Password</label>
                <div class="mt-2">
                    <input type="text" name="password" id="password" placeholder="Enter password" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">
                </div>
            </div>
            <!-- Login button -->
            <button type="login" class="text-black bg-yellow-400 hover:bg-yellow-500 transition shadow-md focus:ring-4 font-semibold rounded-lg text-sm w-full sm:w-auto py-2 px-4 text-center ">Login</button>
            
        </form>
    </div>
    <script src="js/login.js"></script> 
    <!-- Login form end -->
</body>
</html>