<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../public/style.css">
    
    <title>EYES-thetic 24/7 | Register</title>
</head>
<body>
    <!-- Top bar -->
    <div class="logo-bar">
        <!-- Website name -->
        <div id="web-name">
            <h2>EYES-thetic 24/7</h2>
        </div>
        <!-- Login button -->
        <button id="login" class="button">
            Login
        </button>
    </div>
    <!-- Top bar end -->

    <!-- Sign-up form -->
    <div class="content-register">
        <form id="register">
            <!-- Email -->
            <div class="input-box">
                <input type="text" name="email" id="email" placeholder="Enter email" required />
                <i class="uil uil-at"></i>
            </div>
            <!-- Username -->
            <div class="input-box">
                <input type="text" name="username" id="username" placeholder="Create username" required />
                <i class="uil uil-at"></i>
            </div>
            <!-- Password -->
            <div class="input-box">
                <input type="password" name="password" id="password" placeholder="Create password" required />
                <i class="uil uil-lock password"></i>
                <i class="uil uil-eye-slash pw_hide"></i>
            </div>
            <!-- Login button -->
            <button type="login" id="login" class="button">
                Sign-up
            </button>
        </form>
    </div>
    <!-- Sign-up form end -->
</body>
</html>