<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EYES-thetic 24:7</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white flex flex-col items-center justify-center min-h-screen text-center px-6 mt-20">
    <!-- Top bar -->
    <nav class="flow-root w-full justify-center items-center py-4 px-8 shadow-md bg-white fixed top-0 left-0">
        <!-- Website name -->
        <div class="flex space-x-6 items-center justify-between mx-auto">
            <a href="/" class="font-bold" >EYES-thetic 24/7</a>
            <a href="/login" class="text-black hover:text-yellow-600 font-semibold transition">Login</a>
        </div>
    </nav>
    <!-- Top bar end -->

    <!-- Sign-up form -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form id="signupForm" class="space-y-6">
            <!-- Display Name -->
            <div>
                <label for="displayName" class="block text-sm/6 text-left font-semibold">Name</label>
                <div class="mt-2">
                    <input type="text" name="displayName" id="displayName" placeholder="Enter display name" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">
                </div>
            </div>
            <!-- Username -->
            <div>
                <label for="username" class="block text-sm/6 text-left font-semibold">Username</label>
                <div class="mt-2">
                    <input type="text" name="username" id="username" placeholder="Enter username" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">
                </div>
            </div>
            <!-- Email -->
             <div>
                <label for="email" class="block text-sm/6 text-left font-semibold">Email</label>
                <div class="mt-2">
                    <input type="text" name="email" id="email" placeholder="Enter email" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">
                </div>
             </div>
            <!-- Password -->
            <div>
                <label for="password" class="block text-sm/6 text-left font-semibold">Password</label>
                <div class="mt-2">
                    <input type="password" name="password" id="password" placeholder="Enter password" required class="block w-full rounded-md px-3 py-1.5 outline outline-solid outline-1 -outline-offset-1 outline-gray-400">

                </div>
            </div>
            <!-- Signup button -->
            <button type="signup" id="signup" class="text-black bg-yellow-400 hover:bg-yellow-500 transition shadow-md focus:ring-4 font-semibold rounded-lg text-sm w-full sm:w-auto py-2 px-4 text-center ">Sign up</button>
            
        </form>
    </div>
    <!-- <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth.js"></script> -->
    <script type="module" src="js/signup.js"></script>

</body>
</html>